<div class="main-logo-container" id="mobile-logo">

        <a href="./index.html">
          <img class="brand" src="/{{rev "assets/logo.png"}}"/>
        </a>


        <a href="./index.html" class="logo">
          <span class="line1">{{#tr "helsinkis"}}{{capitalizeFirst translated}}{{/tr}}</span><br/>
          <span class="line2">{{#tr "lyceumclub"}}{{capitalizeFirst translated}}{{/tr}}</span>
        </a>


</div>


<article>
	<div 
		class="hero-unit" 
		style="background-image: url('/{{rev "assets/boat_at_night.jpg"}}');">
	</div>
</article>
 

{{#compose 'app/pages/*.hbs'}}
	<article>
			<h1 id="{{key}}">{{#tr key}}{{capitalizeFirst translated}}{{/tr}}</h1>
			{{{this.content}}}
	</article>
{{/compose}}