<h3>Klubitilat</h3>

<div class="row img-row">	
	<div class="col-md-8 col-md-offset-2">
		<a href="/{{rev "assets/DSC00041.jpg"}}" title="Klubitalo blabla-kadulta">
			<img class="img-responsive" src="/{{rev "assets/DSC00041_th.jpg"}}" title="Klubitalo Rauhankadulta."/>
		</a>
	</div>
</div>
<div class="row img-row">
	<div class="col-md-8 col-md-offset-2">
		<a href="/{{rev "assets/DSC00063.jpg"}}" title="Klubihuoneisto">
			<img class="img-responsive" src="/{{rev "assets/DSC00063_th.jpg"}}"/>
		</a>
	</div>
</div>
<div class="row img-row">
	<div class="col-md-8 col-md-offset-2">
		<a href="/{{rev "assets/DSC00068.jpg"}}" title="Klubihuoneisto">
			<img class="img-responsive" src="/{{rev "assets/DSC00068_th.jpg"}}" />
		</a>
	</div>
</div>		